<div class="menu">
    {% set currentUrl = app.request.pathinfo %}
    <a class="menu-link {{ path('create_booking') == currentUrl ? 'active'  }}" href="{{ path('create_booking') }}">Create Booking</a>
    <a class="menu-link {{ path('bookings') == currentUrl ? 'active'  }}" href="{{ path('bookings') }}">All Bookings</a>
</div>